@model dynamic

@{
    ViewBag.Title = "RouteFlow";
}

<h2>RouteFlow has a question for you</h2>

<br />
<br />

<p style="text-align: center; font-size: 1.3em">
    @Model.Message
</p>

<p style="text-align: center;">
    @Model.Question
</p>

<p style="text-align: center;">
    <a href="@Url.Action(Model.NoAction, Model.NoController)">@Model.NoLabel</a>
    <a href="@Url.Action(Model.YesAction, Model.YesController)">@Model.YesLabel</a>
</p>

